







.first-row{
    display: flex;
}
.Genres {
    text-transform: uppercase;
    color: #FFFFFF;
}

.Genres span {
    margin-left: 10px;
    margin-right: 10px;
}

.SortBy {
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;

}
.total-movies{
    text-transform: lowercase;
}