
.footer-title .bolder {
    font-weight: bolder;
}

.footer {
    background: #424242;
    height: 50px;
    position: relative;
}

.footer-title {
    font-size: 30px;
    color: #F65251;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
